<html>
<head>
<script>
function hide_and_show() {
    let f1, f2, f3;
    if (document.getElementById('customize').checked) {
        f1 = "none";
        f2 = "none";
        f3 = "block";
    }
    else if (document.getElementById('year').checked) {
        f1 = "none";
        f2 = "block";
        f3 = "none";
    }
    else if (document.getElementById('month').checked) {
        f1 = "block";
        f2 = "none";
        f3 = "none";
    }
    document.getElementById('month_display').style.display = f1;
    document.getElementById('year_display').style.display = f2;
    document.getElementById('customized_display').style.display = f3;
}
</script>
</head>
<body>
<style type="text/css">
	table, th, td{
		border: 0.5px solid black;
	}
</style>

<h2>View Ticket-Selling Reports</h2>

<h3> Select the Period You Want to View: </h3>
<form action="/home/airline_staff_view_reports" method="POST">
    <div id="period_select" class="form_field">
        <input type="radio" id="month" name="period_select" value="MONTH" checked="checked" onclick="hide_and_show()">
        <label for="month">Recent 1 Month</label><br>
        <input type="radio" id="year" name="period_select" value="YEAR" onclick="hide_and_show()">
        <label for="year">Recent 1 Year</label><br>
        <input type="radio" id="customize" name="period_select" value="customize" onclick="hide_and_show()">
        <label for="customize">Customize Time Range</label><br>

        <div id="month_display" style="display: none;">
        </div>
        <div id="year_display" style="display: none;">
        </div>
        <div id="customized_display" style="display: none;">
            <label for="start"> Departure date starts from: </label>
            <input type="date" name="range_start" min="1971-01-01">
            <label for="end"> Departure date ends at: </label>
            <input type="date" name="range_end" min="1971-01-01">
        </div>
    <input type="submit" value = Search />
</form>

<h3> Bar Chart Report {{period_string}}: </h3>

{% if empty %}
    {% for message in get_flashed_messages() %}
    <h3>Warning: {{ message }}</h3>
    {% endfor %}
{% else %}
<h4> Number of Tickets Sold </h4>
<img src="data:image/png;base64, {{ plot_url_1 }}">

<h4> Ticket Profits Earned </h4>
<img src="data:image/png;base64, {{ plot_url_2 }}">
{% endif %}

</br>
<a href="/home">Go back</a>
</body>
</html>