<html>
<head>
</head>
<body>
<style type="text/css">
	table, th, td{
		border: 0.5px solid black;
	}
</style>

<h2>View Top Customers</h2>

{% if empty %}
    {% for message in get_flashed_messages() %}
    <h3>Warning: {{ message }}</h3>
    {% endfor %}
{% else %}
<h3> Customers with Most Number of Tickets in Last 6 Months</h3>
<img src="data:image/png;base64, {{ plot_url_1 }}">

<h3> Customers with Most Commission Received in Last Year  </h3>
<img src="data:image/png;base64, {{ plot_url_2 }}">
{% endif %}

</br>
<a href="/home">Go back</a>
</body>
</html>